main {
  grid-area: 'content';
}

.content-area {
  container-name: content;
  container-type: inline-size;

  /* The blocks' spatial relationships live in `content.css`, which the
     editor loads too. */

  .documentDescription {
    margin-bottom: 1rem;
    color: var(--text-color-base);
  }
}

/* Blocks & Inner containers */

[class*='section'] {
  & .section-inner-container {
    display: grid;
    width: 100%;
    max-width: var(--block-width, 100%);
    align-items: var(--align-items, center);
    margin: 0 auto;
    grid-auto-flow: var(--grid-auto-flow, row);
    justify-items: var(--justify-items, start);
  }

  &.layout {
    --block-width: var(--layout-container-width);
  }

  &.default {
    --block-width: var(--default-container-width);
  }

  &.narrow {
    --block-width: var(--narrow-container-width);
  }
}
