.menuMoreActions {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.menuMoreActions :global(.react-aria-Select),
.lastModified {
  display: grid;
  align-items: center;
  padding: 0.5rem;
  grid-template-areas: 'label item';
  grid-template-columns: repeat(2, 1fr);

  &:not(:last-child) {
    border-bottom: 1px solid var(--quanta-smoke);
  }

  :global(.react-aria-SelectValue) {
    color: var(--quanta-sapphire);
  }
}

.menuMoreActions :global(.react-aria-Select) :global(.react-aria-Label),
.lastModified span {
  grid-area: label;
}

.menuMoreActions :global(.react-aria-Select) :global(.react-aria-Button),
.lastModified time {
  grid-area: item;
}

.lastModified span,
.lastModified time {
  padding-block: 6px;
}
